.nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
}

.nav-button-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-button-container > button {
  padding: 10px;
  cursor: pointer;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.9px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Helvetica, Arial, sans-serif;
}
.nav-logo-container {
  cursor: pointer;
}
.reg-btn {
  width: 146px;
  height: 42px;
  left: 1172px;
  border: 0.5px;
  border-radius: 5px;
  background-color: #0260ff;
  color: white;
}
.reg-btn:hover {
  background-color: #0f3b86;
  font-weight: bold;
}
.recruite-btn {
  align-items: center;
  width: 146px;
  height: 42px;
  left: 1172px;
  color: rgb(41, 38, 38);
  border-bottom: 1px solid;
  background-color: rgb(240, 232, 232);
  border-radius: 5px;
}
.recruite-btn:hover {
  background-color: #bbb5b5;
  border-radius: 5px;
  transform: translateY(-1px);
}

.applied-job-btn {
  align-items: center;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.9px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.link {
  color: rgb(55, 53, 53);
  text-decoration: none;
  font-weight: bold;
}
.applied-job-btn:hover {
  border-bottom: 1px solid;
}
